.App {
  text-align: center;
}

.App-header {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.white-box{
  background-color: white;
  width: 60vw;
  height: 50vh;
  border-radius: 10px;
}
.quote-box{
  background-color: dimgray;
  width: 70%;
  border-radius: 8px;
  margin: 0 auto;
}


